{% extends 'base.html'%} {% block title %}Index{% endblock %} {% block content %}
<h1 class="is-4rem">{{header}}</h1>
{% comment %} search bar {% endcomment %}
<form class="mb-5" method="get">
    <div class="field has-addons">
        <div class="control">
            <!--  the input will search by title of game  -->
            <input class="input" type="text" name="title" placeholder="title" />
        </div>
        <div class="control">
            <input class="button is-success" type="submit" value="Search" />
        </div>
    </div>
    <!--  This anchor tag will redirect back to game index without a query param -->
    <a class="button is-dark" href="{% url 'game_list' %}">Clear Search</a>
    <a class="button is-dark" href="{% url 'game_create' %}">Add Game</a>
</form>
{% comment %} index display {% endcomment %}
<div class="gallery">
    {% for game in games %}
    <a href="{% url 'game_detail' game.pk %}">
        <div class="card">
            <div class="card-radius is-0.5rem">
                <div class="card-header">
                    <p class="title is-4 color-black">{{game.title}}</p>
                </div>
                <div class="card-image">
                    <img class="image is-64by64" src="{{game.imageURL}}" alt="{{game.title}}" />
                </div>
                <div class="card-content">
                    <p><span class="subtitle is-5">Published by:</span> {{game.publisher}}</p>
                    <p><span class="subtitle is-5">Release date:</span> {{game.release_date}}</p>
                    <p><span class="subtitle is-5">Genre:</span> {{game.genre}}</p>
                    <p><span class="subtitle is-5">Platform:</span> {{game.platform}}</p>
                    <p><span class="subtitle is-5">Image link:</span> {{game.imageURL}}</p>
                </div>
            </div>
        </div>
    </a>
    {% empty %}
    <article class="message">
        <div class="message-header">
            <p>No games in index</p>
        </div>
    </article>
    {% endfor %}
</div>
{% endblock %}
