{% extends 'base.html'%} {% block title %}Index{% endblock %} {% block content %}
<h1>Games Index</h1>
<div class="gallery">
    {% for game in games %}
    <div class="card">
        <div class="card-radius is-0.5rem">
            <div class="card-header">
                <p class="title is-3">{{game.title}}</p>
            </div>
            <div class="card-image">
                <img class="image is-64by64" src="{{game.imageURL}}" alt="{{game.title}}" />
            </div>
            <div class="card-content">
                <p><span class="subtitle is-5">Published by:</span> {{game.publisher}}</p>
                <p><span class="subtitle is-5">Release date:</span> {{game.release_date}}</p>
                <p><span class="subtitle is-5">Genre:</span> {{game.genre}}</p>
                <p><span class="subtitle is-5">Platform:</span> {{game.platform}}</p>
                <p><span class="subtitle is-5">Image link:</span> {{game.imageURL}}</p>
            </div>
        </div>
    </div>
    {% empty %}
    <article class="message">
        <div class="message-header">
            <p>No games in index</p>
        </div>
    </article>
    {% endfor %}
</div>
{% endblock %}
